.contact {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;

    &__details {
        display: flex;
        flex-direction: column;
        max-width: 900px;
        gap: 40px;
    }

    img {
        max-width: 300px;
    }
}