.location {
    margin-left: 36px;
    margin-right: 36px;
    padding-top: 60px;
    display: flex;
    align-items: center;
    position: relative;

    img {
        max-width: 560px;
    }

    &__details {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 24px;
        text-align: end;
        max-width: 600px;
    }

    &__title {
        color: #1B2E35;
        font-size: 24px;
        line-height: 30px;
    }

    &__description {
        font-size: 20px;
        line-height: 30px;
        font-family: "Barriecito", system-ui;

        color: #8475D1;

    }
}



// body {
//     background: #000;
//     /* Fundo escuro para efeito melhor */
//     color: #000;
//     /* Texto invisível */
//     font-family: "Barriecito", system-ui;
//     text-align: center;
// }

// .location {
//     position: relative;
//     padding: 50px;
// }

// .location__description {
//     font-size: 24px;
//     max-width: 600px;
//     margin: 0 auto;
//     position: relative;
//     color: black;
//     /* O texto fica preto */
// }

// .flashlight {
//     position: fixed;
//     width: 150px;
//     height: 150px;
//     border-radius: 50%;
//     background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 20%, rgba(255, 255, 255, 0) 70%);
//     pointer-events: none;
//     transform: translate(-50%, -50%);
//     mix-blend-mode: difference;
//     /* Faz o efeito de lanterna */
// }